<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Plet de Curve</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p>
        Each cell shows the number of positive test results that day. Green is winning. In brackets: added in last 24 hours.
      </p>
      <p>
        You can sign up for notifications of new corona cases in your municipality
        via RSS or push notifications (most desktop browsers).
      </p>
      <p>
        Data source <a href="https://data.rivm.nl/covid-19/">RIVM</a>.
        The provinces page data is calculated using a list of individual case reports (<tt>COVID-19_casus_landelijk.csv</tt>).
        It uses the day of disease onset if known, otherwise day of the first positive lab result and if that's unknown
        and otherwise the day GGD was notified. Source data is explained <a href="https://data.overheid.nl/dataset/11634-covid-19-karakteristieken-per-casus-landelijk">here</a>.
        Recent days are light grey, because these case reports tend to lag by a few days.
        The municipalities page is calculated using the list aggregate totals (<tt>COVID-19_aantallen_gemeente_cumulatief.csv</tt>).
        Negative numbers are corrections. It's less accurate, but more fine grained.
        Visualization inspired by Yaneer Bar-Yam from <a href="https://www.endcoronavirus.org">endcoronavirus.org</a>.
      </p>
      <p>
        Website source code at <a href="https://github.com/Sjors/crush_curve">Github</a>. Twitter: <a href="https://twitter.com/provoost">@provoost</a>
        Email: sjors at sprovoost.nl
      </p>
  </footer>
  </body>
</html>
